* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-shadow: black 10px 10px 10px;
}

.menu_bar {
    background-color: #383838;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: #000000 0 7px 20px;
}

.logo {
    margin: 0;
	font-size: 32pt;
	font-family: 'Righteous', sans-serif;
	color: #FFFFFF;
  	text-shadow: black 0 5px 20px;
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
    position: relative;
}

.menu_bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;

    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color: rgb(53, 180, 234);
}

.dropdown_menu {
    display: none;
    border-radius: 6px;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #545454;
}

.menu_bar ul li:hover .dropdown_menu ul {
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu ul li {
    width: 150px;
    padding: 10px;
}

.fas {
    float: right;
    margin-left: 10px;
}

.hero {
    height: calc(100vh - 80px);
    background-image: url("images/TEST3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.old_version a {
    position: fixed; /*DKJLSFHKJLAHDGJ:HA*/
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 18px;
    bottom: 1%;
    left: 1%;
    transition: all 0.3s;
}

.old_version a:hover {
    color: rgb(53, 180, 234);
    left: 2%;
}